<div class="row">
  <div class="offset-3 col-md-6 col-sm-3" >
    <h2 class="text-center">Get By ID & DELETE</h2>
  </div>
</div>
<div class="row">
  <div class="offset-3 col-md-6 col-sm-3" >
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Matricule</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.matricule}}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-danger" (click)="supprimerUser()">supprimer</button>
  </div>
</div>
<div class="row">
  <div class="offset-3 col-md-6 col-sm-3">
    <h2 class="text-center">UPDATE</h2>
    <form #formulaire="ngForm">
      <label for="firstname">Firstname</label>
      <input required id="firstname" type="text" ngModel name="firstname" class="form-control" value="{{user.firstname}}">

      <label for="lastname">Lastname</label>
      <input required id="lastname" type="text" ngModel name="lastname" class="form-control" value="{{user.lastname}}">

      <label for="matricule">Matricule</label>
      <input required id="matricule" type="text" ngModel name="matricule" class="form-control" value="{{user.matricule}}">
      <br>
      <button [disabled]="formulaire.invalid" (click)="modifierUser(formulaire)" class="btn btn-primary">VALIDER</button>
    </form>
  </div>
</div>
